<% articles.each do |article| %>
	<p><%= article.title %></p>
	<p><%= article.content %></p>
	<% if policy(article).destroy? %>
		<p><%= link_to "delete", user_article_path(article.user, article), method: :delete %></p>
	<% end %>
	<hr />
<% end %>